:root {
    --primary: #d84008;
    --dark-primary: #a52c00;
    --light: #ffe7de;
    --grey: #e6e6e6;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-dark-primary {
    background-color: var(--dark-primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    border: 0;
}

.btn-primary:hover {
    background-color: var(--dark-primary);
}

.btn-cert {
    background-color: var(--primary);
    color: white;
}

.btn-cert:hover {
    background-color: var(--dark-primary);
    color: white;
}

.btn-video {
    background-color: var(--primary);
    color: white;
}

.btn-video:hover {
    background-color: var(--dark-primary);
    color: white;
}

.controls {
    text-align: center;
}

.text-act {
    color: #d84008;
}

.text-act:hover {
    color: #a52c00;
}

.text-title-card {
    color: white;
}

.contenedor-video {
    position: relative;
    display: inline-block;
    text-align: center;
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: white;
}

.btn-play:hover {
    background-color: var(--dark-primary);
    color: white;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }
    .stat {
        border: 0;
    }
}